airsim==1.8.1
binvox==0.1.5
certifi @ file:///C:/b/abs_85o_6fm0se/croot/certifi_1671487778835/work/certifi
cloudpickle==2.2.0
colorama==0.4.6
contourpy==1.0.7
cycler==0.11.0
fonttools==4.38.0
future==0.18.3
gym==0.21.0
gym-notices==0.0.8
hyperopt==0.2.7
imageio==2.24.0
importlib-metadata==4.13.0
kiwisolver==1.4.4
matplotlib==3.6.3
msgpack-python==0.5.6
msgpack-rpc-python==0.4.1
networkx==3.0
numpy==1.24.1
opencv-contrib-python==4.7.0.68
packaging==23.0
pandas==1.5.2
Pillow==9.4.0
psutil==5.9.4
py4j==0.10.9.7
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2022.7.1
PyWavelets==1.4.1
scikit-image==0.19.3
scipy==1.10.0
six==1.16.0
stable-baselines3==1.7.0
tifffile==2022.10.10
torch==1.13.1
tornado==4.5.3
tqdm==4.64.1
typing_extensions==4.4.0
wincertstore==0.2
zipp==3.11.0
